@model IEnumerable<WebApp.Models.Opgaver>

@{
    ViewData["Title"] = "Opgaver";
}

<h1>Index</h1>

<p>
    <input type="button" value="Opret" onclick="location.href='@Url.Action("Create", "Opgaver")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Minimums Alder
            </th>
            <th>
                Medarbejder
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minAlder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medarbejder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Ændrer</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
